<% if user_signed_in? %>
<h1 style="padding: 10px">New post</h1>

<div class="row">
  <%= render "form", post: @post %>
</div>
<% else %>
<h1>Please log_in or sign_in to see all the posts</h1>
<% end %>
